<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMS MARKET</title>
    <link rel="shortcut icon" href="./images/logo black.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/prefix.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>




<!--forget password-->

<form id="forgotPasswordForm" style="display: block;">
    <h2 class="center-text">Forgot Password</h2>
    <label for="mobile">Mobile Number:</label>
    <input type="tel" id="mobile" name="mobile" pattern="[0-9]{10}" required>

    <button type="button" href="/forget-otp">Send Reset OTP</button>

    <p class="center-text">
        <a href="/login">Back to Login</a>
    </p>
</form>




  
</script>

</body>
</html>