<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMS-Market digital marketing</title>

    <script src="./js/script.js"></script>
    <link rel="stylesheet" href="./css/response.css" />
    <link
      rel="shortcut icon"
      href="./images/logo black.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!--header start from here-->
    <header class="header">
      <div class="header-bar">
        <div class="social-bar">
          <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
          <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
          <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
          <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
        </div>
        <div class="center-bar">NEW YEAR SALE START SOON !!</div>
        <div class="lang-bar">
          <select name="lang" id="lang">
            <option value="english">English</option>
            <option value="tamil">Tamil</option>
          </select>
        </div>
      </div>
      <hr />
      <div class="logo-bar">
        <div class="logo"><img src="./images/SIMS (5).png" alt="logo" /></div>
        <div class="search">
          <input type="text"  placeholder="Search Products"/>
          <i class="material-symbols-outlined">
            search
            </i>
        </div>
        <div class="order">
          <a href="/profile"><span class="material-symbols-outlined">
            account_circle
            </span></a>
          <a href=""><span class="material-symbols-outlined">
            favorite
            </span></a>
          <a href=""><span class="material-symbols-outlined">
            shopping_bag
            </span></a>
        </div>
      </div>
      <hr />
      <nav class="nav-bar">
        <a href="#">HOME</a>
        <a href="#"
          >CATEGORIES
          <div class="nav-box nav-box-1"></div>
        </a>
        <a href="#"
          >MEN'S
          <div class="nav-box nav-box-2"></div>
        </a>
        <a href="#"
          >WOMEN'S
          <div class="nav-box nav-box-3"></div>
        </a>
        <a href="#"
          >FASHION
          <div class="nav-box nav-box-5"></div>
        </a>
        <a href="#"
          >HOT OFFERS
          <div class="nav-box nav-box-6"></div>
        </a>
      </nav>
    </header>
    <!--container 1 start from here-->
    <div class="container">
      <div class="img-bar">
        <img class="banner" src="./images/banner-1.jpg" alt="" />
        <img class="banner" src="./images/banner-1-2.jpg" alt="" />
        <div class="text-bar">
          <h2>Trending items</h2>
          <h1>WOMEN'S LATEST FASHION SALE</h1>
          <p>starting at Rs 200</p>
          <button>SHOP NOW</button>
        </div>
      </div>
      <!--side box start from here-->
    </div>
    <div class="side-box">
      <div class="cat-box"></div>
      <div class="cat-box"></div>
      <div class="cat-box"></div>
      <div class="cat-box"></div>
      <div class="cat-box"></div>
      <div class="cat-box"></div>
      <div class="cat-box"></div>
      <div class="cat-box"></div>
      <div class="cat-box"></div>
    </div>

    <!--side box start from here-->

    <div class="cont-box">
      <div class="aside">
        <div class="menu">
          <h3>CATEGORY</h3>
           <ul>
            <li>
              <label for="cat-item-1" class="name">
                <div class="icon-box"></div> Cloths <i class="fa fa-plus"></i>
              </label>
              <input type="checkbox" id="cat-item-1">
              <div class="items" id='cat-items-1'>
                <ul>
                  <li><a href="#">Men's Cloths</a></li>
                  <li><a href="#"> Women's Cloths</a></li>
                  <li><a href="#">Kid's Cloths</a></li>
                </ul>
              </div>
            </li>
            <li>
              <label for="cat-item-2" class="name">
                <div class="icon-box"></div> Jwellry <i class="fa fa-plus"></i>
              </label>
              <input type="checkbox" id="cat-item-2">
              <div class="items" id="cat-items-2">
                <ul>
                  <li><a href="#">Neckles</a></li>
                  <li><a href="#">Pracelet</a></li>
                  <li><a href="#">Ring's</a></li>
                </ul>
              </div>
            </li>
            <li>
              <label for="cat-item-3" class="name">
                <div class="icon-box"></div>Footwear<i class="fa fa-plus"></i>
              </label>
              <input type="checkbox" id="cat-item-3">
              <div class="items" id="cat-items-3">
                <ul>
                  <li><a href="#">Shoe's</a></li>
                  <li><a href="#">Sandals</a></li>
                  <li><a href="#">sleepers</a></li>
                </ul>
              </div>
            </li>
            <li>
              <label for="cat-item-4" class="name">
                <div class="icon-box"></div> Fashion Items <i class="fa fa-plus"></i>
              </label>
              <input type="checkbox" id="cat-item-4">
              <div class="items" id="cat-items-4">
                <ul>
                  <li><a href="#">Glass</a></li>
                  <li><a href="#">Scarf</a></li>
                  <li><a href="#">sneekars</a></li>
                </ul>
              </div>
            </li>
            <li>
              <label for="cat-item-5" class="name">
                <div class="icon-box"></div> Perfume <i class="fa fa-plus"></i>
              </label>
              <input type="checkbox" id="cat-item-5">
              <div class="items"id="cat-items-5">
                <ul>
                  <li><a href="#">Fogg</a></li>
                  <li><a href="#">Ather</a></li>
                  <li><a href="#">Jasmin</a></li>
                </ul>
              </div>
            </li>
            <li>
              <label for="cat-item-6" class="name">
                <div class="icon-box"></div> Others <i class="fa fa-plus"></i>
              </label>
              <input type="checkbox" id="cat-item-6">
              <div class="items" id="cat-items-6">
                <ul>
                  <li><a href="#">Electronics</a></li>
                  <li><a href="#">Watch's</a></li>
                  <li><a href="#">Kid's Toy's</a></li>
                </ul>
              </div>
            </li>
            
           </ul>
          
        </div>
      </div>
      <div class="content">
        <div class="cont">
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
        </div>
        <div class="cont">
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
        </div>
        <div class="cont">
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
        </div>
      </div>
    </div>

    <!--add box is start from here-->
    <div class="add-box">
      <img src="./images/banner-2.jpg" alt="" />
      <img src="./images/banner-3-2.jpg" alt="" />
      
      <div class="add-cont">
        <div class="cont">
          <div class="prod"></div>
          <div class="prod"></div>
          <div class="prod"></div>
          <div class="prod"></div>
        </div>
        <div class="cont">
          <div class="prod"></div>
          <div class="prod"></div>
          <div class="prod"></div>
          <div class="prod"></div>
        </div>
        <div class="cont">
          <div class="prod"></div>
          <div class="prod"></div>
          <div class="prod"></div>
          <div class="prod"></div>
        </div>
        <div class="cont">
          <div class="prod"></div>
          <div class="prod"></div>
          <div class="prod"></div>
          <div class="prod"></div>
        </div>
      </div>
    </div>

    <!--footer start from here-->
    <div class="footer"></div>
    <footer>
      <div class="dir-box">
        <div class="dir">
          <h1>BRAND DIRECTORY</h1>
        </div>
        <div class="dir">
          <h2>FASHION:</h2>
          <h5>T-Shirt | Shirt | Shorts & Jeans | Innerwear</h5>
        </div>
        <div class="dir">
          <h2>FOOTWEAR:</h2>
          <h5>Shoes | Sandal | Sleepers | heels</h5>
        </div>
        <div class="dir">
          <h2>COSMETIC:</h2>
          <h5>Lipstick | Powder | Perfume</h5>
        </div>
        <div class="dir">
          <h2>OTHERS:</h2>
          <h5>Customize Frames</h5>
        </div>
      </div>
      <hr class="fh" />

      <!--service bar is start from here-->

      <div class="our-box">
        <div class="our">
          <h3>OUR SERVICE</h3>
          <ul>
            <li>Delivery</li>
            <li>Legal Notice</li>

            <li>Terms And Conditions</li>
            <li>About</li>
            <li>Secure Payment</li>
          </ul>
        </div>
        <div class="our">
          <h3>PRODUCTS</h3>
          <ul>
            <li>Price Drop</li>
            <li>New Products</li>

            <li>Best Sale</li>
            <li>Customer Service</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="our">
          <h3>CONTACT</h3>
          <ul>
            <li>+91 9159666518</li>
            <li>simsmarketing@gmail.com</li>
            <li>Sankarankovil, Tirunelveli, Tamilnadu - 627754</li>
          </ul>
        </div>
      </div>
      <hr class="fh" />

      <!--payment and copyright bar start from here-->

      <div class="copy-box">
        <img src="./images/payment.png" alt="" />
        <h3>Copyright © SIMS MARKET All Rights Reserved.</h3>
      </div>
    </footer>
    <div class="bottom">
      <div class="bottom-nav">
        <label for="menu-1-input" class="icon-box">
        <input type="checkbox" name="menu-1-input" id="menu-1-input">
          <a ><i class="material-symbols-outlined">
            menu
            </i></a>
          <div class="menu menu-1">
            <h3>Menu</h3>
            <label for="menu-1-input"><i class="close material-symbols-outlined">
              exit_to_app
              </i></label>
             <ul>
              <li>
                <label for="item" class="name">
                  Profile <i class="material-symbols-outlined">
                    arrow_left
                    </i>
                  
                </label>
                <input type="checkbox"class='invisible' id="item">
                <div class="items" id="items">
                  <ul>
                    <li><a href="/profile">View Profile</a></li>

                  </ul>
                </div>
              </li>
              <li>
                <label for="item2" class="name">
                  Orders <i class="material-symbols-outlined">
                    arrow_left
                    </i>
                  
                </label>
                <input type="checkbox"class='invisible' id="item2">
                <div class="items" id="items">
                  <ul>
                    <li><a href="">Recent Order's</a></li>
                    <li><a href="">Order History</a></li>
                    
                  </ul>
                </div>
              </li>
              <li>
                <label for="item3" class="name">
                  Cart <i class="material-symbols-outlined">
                    arrow_left
                    </i>
                  
                </label>
                <input type="checkbox"class='invisible' id="item3">
                <div class="items" id="items">
                  <ul>
                    <li><a href="">Item's</a></li>
                    <li><a href="">Liked Products</a></li>
                    <li><a href="">Special Offers</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item4" class="name">
                  Offres For You <i class="material-symbols-outlined">
                    arrow_left
                    </i>
                  
                </label>
                <input type="checkbox"class='invisible' id="item4">
                <div class="items" id="items">
                  <ul>
                    <li><a href="">Cloths</a></li>
                    <li><a href="">Shoes</a></li>
                    <li><a href="">Fashion Items</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item5" class="name">
                  Customer Support <i class="material-symbols-outlined">
                    arrow_left
                    </i>
                  
                </label>
                <input type="checkbox"class='invisible' id="item5">
                <div class="items" id="items">
                  <ul>
                    <li><a href="">Chat Call</a></li>
                    <li><a href="">Gmail</a></li>
                    <li><a href="">Raise Query</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item6" class="name">
                  Follow Us <i class="material-symbols-outlined">
                    arrow_left
                    </i>
                  
                </label>
                <input type="checkbox"class='invisible' id="item6">
                <div class="items" id="items">
                  <ul>
                    
                    <li><a href="">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item7" class="name">
                  Settings <i class="material-symbols-outlined">
                    arrow_left
                    </i>
                  
                </label>
                <input type="checkbox"class='invisible' id="item7">
                <div class="items" id="items">
                  <ul>
                    
                    <li><a href="">Theme</a></li>
                    <li><a href="">Notification</a></li>
                    <li><a href="">Language</a></li>
                    <li><a href="">Log-Out</a></li>
                  </ul>
                </div>
              </li>
              
              
             </ul>
            
          </div>
        </label>
        <div class="icon-box">
          <a href="#"><i class="material-symbols-outlined">
            shopping_bag
            </i></a>
        </div>
        <div class="icon-box">
          <a href="#"><i class="material-symbols-outlined">
            home
          </i></a>
        </div>
        <div class="icon-box">
          <a href="/profile"><i class="material-symbols-outlined">
            account_circle
            </i></a>
        </div>
        <label for="menu-2-input" class="icon-box">
          <input type="checkbox" name="menu-2-input" id="menu-2-input">
          
          <a ><i class="material-symbols-outlined">
            grid_view
            </i></a>
          <div class="menu menu-2">
            <h3>CATEGORY</h3>
            <label for="menu-2-input"><span class=" close material-symbols-outlined">
              exit_to_app
              </span></label>
             <ul>
              <li>
                <label for="item-2-1" class="name">
                  <div class="icon-box"></div> Cloths <i class="fa fa-plus"></i>
                </label>
                <input type="checkbox" class="invisible"  name="item-2-1" id="item-2-1">
                <div class="items" id="items-2-1">
                  <ul>
                    <li><a href="">Men's Cloths</a></li>
                    <li><a href=""> Women's Cloths</a></li>
                    <li><a href="">Kid's Cloths</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item-2-2" class="name">
                  <div class="icon-box"></div> Jwellry <i class="fa fa-plus"></i>
                </label>
                <input type="checkbox" class="invisible"  name="item-2-2" id="item-2-2">
                <div class="items" id="items-2-2">
                  <ul>
                    <li><a href="">Neckles</a></li>
                    <li><a href="">Pracelet</a></li>
                    <li><a href="">Ring's</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item-2-3" class="name">
                  <div class="icon-box"></div>Footwear<i class="fa fa-plus"></i>
                </label>
                <input type="checkbox" class="invisible"  name="item-2-3" id="item-2-3">
                <div class="items" id="items-2-3">
                  <ul>
                    <li><a href="">Shoe's</a></li>
                    <li><a href="">Sandals</a></li>
                    <li><a href="">sleepers</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item-2-4" class="name">
                  <div class="icon-box"></div> Fashion Items <i class="fa fa-plus"></i>
                </label>
                <input type="checkbox" class="invisible"  name="item-2-4" id="item-2-4">
                <div class="items" id="items-2-4">
                  <ul>
                    <li><a href="">Glass</a></li>
                    <li><a href="">Scarf</a></li>
                    <li><a href="">sneekars</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item-2-5" class="name">
                  <div class="icon-box"></div> Perfume <i class="fa fa-plus"></i>
                </label>
                <input type="checkbox" class="invisible"  name="item-2-5" id="item-2-5">
                <div class="items"id=items-2-5>
                  <ul>
                    <li><a href="">Fogg</a></li>
                    <li><a href="">Ather</a></li>
                    <li><a href="">Jasmin</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <label for="item-2-6" class="name">
                  <div class="icon-box"></div> Others <i class="fa fa-plus"></i>
                </label>
                <input type="checkbox" class="invisible"  name="item-2-6" id="item-2-6">
                <div class="items"id="items-2-6">
                  <ul>
                    <li><a href="">Electronics</a></li>
                    <li><a href="">Watch's</a></li>
                    <li><a href="">Kid's Toy's</a></li>
                  </ul>
                </div>
              </li>
              
             </ul>
            
          </div>
        </label>
      </div>
    </div>
    <script src="./js/script.js"></script>
    <script>
      
    </script>
  </body>
</html>
