<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMS MARKET</title>
    <link rel="shortcut icon" href="./images/logo black.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/prefix.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <style>body {
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

form {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
h2.center-text{
  font-size: 28px;
  font-weight: 600;
  color: orangered;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: orangered;
  color: #fff;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: orange;
  color: black;
}

.center-text {
  text-align: center;
  font-weight: 400;
}

p {
  font-size: 14px;
}
</style>
</head>
<body>


    <!--login form -->

<form id="signinForm" action="/auth/login" method="post" style="display: block;">
    <h2 class="center-text">Login</h2>
   
    {{#if msg}}
     <p>{{msg}}</p>
     {{/if}}

    <label for="phone">Mobile Number:</label>
    <input type="text" id="phone" name="phone">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    

    <button type="submit"  >login</button>
    <p class="center-text">(or)</p>
    <p class="center-text">
      New user  <a href="/register">Register Here  </a> 
    </p>
</form>




</body>
</html>